p {
	font-family: "Droid Serif";
	font-size: 14px;
	margin: 50px;
}

h1{
	font-family: "DIN 2014 Narrow";
	color: #24408e;
	font-size: 45px;
	text-align: center;
}

h2{
	font-family: "DIN 2014 Narrow";
	color: #24408e;
	margin: 20px;
}

h5{
	font-family: "DIN 2014 Narrow";
	color: #24408e;
	margin: 20px;
	text-align: right;
}

body{
	background: #edf4f9;
}